.parent1 {
  display: flex;
}
@media (min-width: 1200px) {
  .ll {
    display: none;
  }
  .mobile {
    display: none;
  }
  .ss {
    display: none;
  }
}
@media (max-width: 567px) {
  .ll {
    display: block;
  }
  .ww {
    display: none;
  }
  .parent1 {
    display: block;
  }
}

.input-search-box {
  position: relative;
}
.input-search-box input {
  padding: 15px 50px 15px 15px !important;
  color: aliceblue !important ;
  border-radius: 30px !important;
}
.input-group-text {
  position: absolute;
  color: #ee9611;
  background: #00000000 !important;
  border: none;
  top: 50%;
  transform: translateY(-60%);
  right: 10px;
}

.rate-wrapper ul {
  display: flex;
  list-style: none;
  gap: 10px;
}

.star {
  width: 50px;
  height: 50px;
  background: none;
  background: #555;
  font-size: 30px;
  color: #fff;
  display: flex;
  justify-content: center;
}
.star.active {
  color: rgb(255, 255, 255);
  background: goldenrod;
}
