.login-model {
    background:
        linear-gradient(#1a1919e9, #1a1919e9),
        url(../../../assets/secondary_background.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #1a1919e9; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 999999999;
}

.login-model .wrapper {
    background-color: #5e5e5e83;
    width: 45%;
    height: 110px;
    padding: 8px 20px 8px 20px;
    border-radius: 8px;
}

.login-model .wrapper button {
    width: 100%;
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #BF9B30;
    text-align: right;
    background-color: transparent;
    border: none;
}

.login-model .wrapper div {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 12px;
    padding: 0 16px 0 16px;
    gap: 10px;
}

.login-model .wrapper div p {
    font-size: 24px;
    margin-top: 5px;
}

.login-model .wrapper div a {
    background-color: #BF9B30;
    cursor: pointer;
    font-size: 24px;
    height: 40px;
    width: 160px;
    text-align: center;
    border-radius: 8px;
    display: grid;
    place-content: center;
    color: white !important;
}

@media (max-width:1024px) {

    .login-model .wrapper {
        width: 65%;
        padding: 8px 15px 8px 15px;
    }

    .login-model .wrapper div p {
        font-size: 18px;
    }

    .login-model .wrapper div a {
        font-size: 18px;
        width: 130px;
    }

}

@media (max-width:768px) {
    .login-model .wrapper {
        width: 85%;
        padding: 8px;
    }

    .login-model .wrapper div p {
        font-size: 14px;
    }

    .login-model .wrapper div a {
        font-size: 18px;
        width: 80px;
    }
}